/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --header-title-color: #FFC2E6;
  --header-shadow-color: #ff0070;
  --title-color: #353430;
  --text-color: #353430;
  --bg-color: #FFF1F7;
  --accent-color: #353430;
  --accent-bg-color: #ff8dcb;
  background-image: url(../images/cover-image-light.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.page.theme_light .rec {
  display: none;
}