.page.theme_light {
  --header-title-color: #FFC2E6;
  --header-shadow-color: #ff0070;
  --title-color: #353430;
  --text-color: #353430;
  --bg-color: #FFF1F7;
  --accent-color: #353430;
  --accent-bg-color: #ff8dcb;
  background-image: url(../images/cover-image-light.png);
}

.page.theme_light .rec {
  display: none;
}