:root {
  --header-title-color: #DB00FF;
  --header-shadow-color: #ff0070;
  --title-color: #FF0070;
  --text-color: #F1B2CE;
  --bg-color: #000028;
  --accent-color: #000028;
  --accent-bg-color: #ff0070;
}

